@model IEnumerable<ContactDetails>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<h1>Contact Details</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Contact List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ContactDetails" asp-action="Create" class="btn btn-primary">Create New Contact</a>
        </div>
    </div>


<table class="table table-bordered table-stripped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
                (job title)
            </th>
            <th>
                Company
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Last Date Contacted
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name (@obj.JobTitle)
                </td>
                <td>
                    @obj.Company
                </td>
                <td>
                    @obj.Phone
                </td>
                <td>
                    @obj.Address
                </td>
                <td>
                    @obj.Email
                </td>
                <td>
                    @obj.LastDateContacted
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="ContactDetails" asp-action="Edit" asp-route-id=@obj.Id><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>